.mchart {
	display: block;
	border-radius: 5px;
	border: solid 0px gray;
	padding: 20px;
	background: #f0f0f0;
	margin: 10px;
}
text {
        font-family: monospace;
        font-size: 10px;
        text-indent: left;
}
